src/main/app/testing_string_concatenation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="testing_string_concatenationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-variable variableName="numIterations" value="#[Integer.parseInt(message.inboundProperties.'http.query.params'.numIterations or 10)]" doc:name="Set Num Iterations"/>
        <set-variable variableName="testType" value="#[message.inboundProperties.'http.query.params'.testType]" doc:name="Set Test Type"/>
        <set-variable variableName="startTime" value="#[server.nanoTime()]" doc:name="Set Start Time"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.testType == &quot;StringBuilder&quot;]">
                <custom-transformer class="com.deloitte.tsc.transformers.StringBuilderTransformer" doc:name="StringBuilder Execution"/>
            </when>
            <when expression="#[flowVars.testType == &quot;StringBuffer&quot;]">
		        <custom-transformer class="com.deloitte.tsc.transformers.StringBufferTransformer" doc:name="StringBuffer Execution"/>
            </when>
            <otherwise>
                <custom-transformer class="com.deloitte.tsc.transformers.StringConcatenationTransformer" doc:name="String Concat Execution"/>
            </otherwise>
        </choice>
        <set-variable variableName="endTime" value="#[server.nanoTime()]" doc:name="Set End Time"/>
        <set-payload value="{
     &quot;testType&quot;: &quot;#[flowVars.testType or &quot;String Concatenation&quot;]&quot;,
      &quot;completedInMillis&quot;: #[(flowVars.endTime - flowVars.startTime) / 1000000],
      &quot;completedInNanos&quot;: #[flowVars.endTime - flowVars.startTime],      
      &quot;numIterations&quot;: #[flowVars.numIterations]  
}" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
</mule>
